{% extends 'base.html.twig' %}

{% block title %}Perioden{% endblock %}

{% block body %}

    <div class="btn__new--right--bottom">
        <a href="{{ path('createPeriod') }}" class="btn btn-primary btn-block">+ Nieuw</a>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="bgc-white bd bdrs-3 p-20">
                <h4 class="c-grey-900 mB-20">Period</h4>

                {% if error is not null %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endif %}
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Period ID</th>
                        <th scope="col">Client Naam</th>
                        <th scope="col">Start Datum(d-m-Y)</th>
                        <th scope="col">Eind Datum(d-m-Y)</th>
                        <th scope="col">Prestatie IDs</th>
                        <th scope="col">Bevestigd</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for period in periods %}
                        <tr onclick="window.location.href='{{ path('editPeriod', {periodId: period.id}) }}'"
                            class="clickable">
                            <th scope="row">{{ period.id }} </th>


                            {% if period.complain%}
                                <td>
                                    {{ period.client.companyName }}
                                    <span class="icon-holder">
                                        <i class="c-teal-600 ti-comment"></i>
                                    </span>
                                </td>
                            {% else %}
                                <td>
                                    {{ period.client.companyName }}
                                </td>
                            {% endif %}

                            <td>{{ period.startDate|date('d-m-Y') }} </td>
                            <td>{{ period.endDate|date('d-m-Y') }} </td>
                            <td>
                                {% for task in period.tasks %}
                                    {{ task.id }},
                                {% endfor %}
                            </td>
                            {% if period.isConfirm == true %}
                                <td>
                                    <span class="icon-holder">
                                        <i class="c-green-600 ti-check"></i>
                                    </span>
                                </td>
                            {% else %}
                                <td><span class="icon-holder">
                                        <i class="c-red-500 ti-close"></i>
                                    </span>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
