{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="h-100vh bgc-white pX-40 pY-20 bd">
        <h2>Dashboard</h2>
        <div class="row gap-20 pY-20">
            <div class="col-md-3">
                <div class="layers bd bgc-white p-20">
                    <div class="layer w-100 mB-10"><h6 class="lh-1">Klanten</h6></div>
                    <div class="layer w-100">
                        <div class="peers ai-sb fxw-nw">
                            <div class="peer peer-greed">
                                <h4>
                                     <span class="icon-holder">
                                    <i class="c-brown-500 ti-desktop"></i>
                                </span>
                                </h4>
                            </div>
                            <div class="peer"><span
                                        class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-brown-50 c-brown-500">{{ totalClient }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="layers bd bgc-white p-20">
                    <div class="layer w-100 mB-10"><h6 class="lh-1">Personeel</h6></div>
                    <div class="layer w-100">
                        <div class="peers ai-sb fxw-nw">
                            <div class="peer peer-greed">
                                <h4>
                                     <span class="icon-holder">
                                    <i class="c-yellow-800 ti-crown"></i>
                                </span>
                                </h4>

                            </div>
                            <div class="peer"><span
                                        class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-yellow-100 c-yellow-800">{{ totalEmployee }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="layers bd bgc-white p-20">
                    <div class="layer w-100 mB-10"><h6 class="lh-1">Freelancers</h6></div>
                    <div class="layer w-100">
                        <div class="peers ai-sb fxw-nw">
                            <div class="peer peer-greed"> <h4>
                                     <span class="icon-holder">
                                    <i class="c-deep-purple-500 ti-ruler-pencil"></i>
                                </span>
                                </h4>

                            </div>
                            <div class="peer"><span
                                        class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-deep-purple-50 c-deep-purple-500">{{ totalFreelancer }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="layers bd bgc-white p-20">
                    <div class="layer w-100 mB-10"><h6 class="lh-1">Prestaties</h6></div>
                    <div class="layer w-100">
                        <div class="peers ai-sb fxw-nw">
                            <div class="peer peer-greed">
                                <h4>
                                     <span class="icon-holder">
                                    <i class="c-indigo-500 ti-clipboard"></i>
                                </span>
                                </h4>

                            </div>
                            <div class="peer"><span
                                        class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-indigo-50 c-indigo-500">{{ totalTask }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="layers bd bgc-white p-20">
                    <div class="layer w-100 mB-10"><h6 class="lh-1">Perioden</h6></div>
                    <div class="layer w-100">
                        <div class="peers ai-sb fxw-nw">
                            <div class="peer peer-greed">
                                <h4>
                                     <span class="icon-holder">
                                    <i class="c-deep-orange-500 ti-calendar"></i>
                                </span>
                                </h4>

                            </div>
                            <div class="peer"><span
                                        class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-deep-orange-50 c-deep-orange-500">{{ totalPeriod }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{#            <div class="col-md-3">#}
{#                <div class="layers bd bgc-white p-20">#}
{#                    <div class="layer w-100 mB-10"><h6 class="lh-1">Prestaties</h6></div>#}
{#                    <div class="layer w-100">#}
{#                        <div class="peers ai-sb fxw-nw">#}
{#                            <div class="peer peer-greed"><span id="sparklinedash4"><canvas width="45" height="20"#}
{#                                                                                           style="display: inline-block; width: 45px; height: 20px; vertical-align: top;"></canvas></span>#}
{#                            </div>#}
{#                            <div class="peer"><span#}
{#                                        class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-blue-50 c-blue-500">33%</span>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>

{% endblock %}
