{% extends 'base.html.twig' %}

{% block title %}Loon Bonus{% endblock %}

{% block body %}
    <div class="btn__new--right--bottom">
        <a href="{{ path('editSalaryType') }}" class="btn btn-primary btn-block">Edit</a></div>
    <div class="row">
        <div class="col-md-12">
            <div class="bgc-white bd bdrs-3 p-20">
                <h4 class="c-grey-900 mB-20">Eigen Personeel</h4>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Bonus Id</th>
                        <th scope="col">Bonus naam</th>
                        <th scope="col">Bonus waarde</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for bonus in bonuses %}
                        <tr onclick="window.location.href='{{ path('editSalaryType') }}'" class="clickable">
                            <th scope="row">{{ bonus.id }} </th>
                            <td>{{ bonus.typeName }}  </td>
                            <td>{{ bonus.bonusRate }}  </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
