{% extends 'base.html.twig' %}

{% block title %}Freelancers{% endblock %}

{% block body %}
    <div class="btn__new--right--bottom">
        <a href="{{path('createFreelancer')}}" class="btn btn-primary btn-block">+ Nieuw</a></div>
    <div class="row">
        <div class="col-md-12">
            <div class="bgc-white bd bdrs-3 p-20">
                <h4 class="c-grey-900 mB-20">Freelancers </h4>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Gebruikers ID</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Uurtarief</th>
                        <th scope="col">Transportkost</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for freelancer in freelancers %}
                        <tr onclick="window.location.href='{{ path('editFreelancer', {freelancerId: freelancer.user.id}) }}'" class="clickable">
                            <th scope="row">{{ freelancer.user.id }} </th>
                            <td>{{ freelancer.user.email }}  </td>
                            <td>{{ freelancer.hourRate }} </td>
                            <td>{{ freelancer.TransportCost }}  </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
