<div class="sidebar">
    <div class="sidebar-inner">
        <div class="sidebar-logo">
            <div class="peers ai-c fxw-nw">
                <div class="peer peer-greed"><a class="sidebar-link td-n" href="{{ path('home') }}">
                        <div class="peers ai-c fxw-nw">
                            <div class="peer">
                                <div class="logo">
                                    <img src="{{ asset('template/assets/static/images/logo.png') }}" alt="logo"></div>
                            </div>
                            <div class="peer peer-greed">
                                <h5 class="lh-1 mB-0 logo-text">Arte Tech Pro</h5>
                            </div>
                        </div>
                    </a></div>
                <div class="peer">
                    <div class="mobile-toggle sidebar-toggle"><a href="" class="td-n"><i
                                    class="ti-arrow-circle-left"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <ul class="sidebar-menu scrollable pos-r">
            <li class="nav-item mT-30 actived"><a class="sidebar-link" href="{{ path('home') }}"><span
                            class="icon-holder"><i
                                class="c-blue-500 ti-home"></i> </span><span class="title">Dashboard</span></a></li>
            <li class="nav-item"><a class="sidebar-link" href="{{ path('clients') }}"><span class="icon-holder"><i
                                class="c-brown-500 ti-desktop"></i> </span><span class="title">Klanten</span></a></li>
            <li class="nav-item"><a class="sidebar-link" href="{{ path('employees') }}"><span class="icon-holder"><i
                                class="c-yellow-800 ti-crown"></i> </span><span class="title">Personeel</span></a></li>
            <li class="nav-item"><a class="sidebar-link" href="{{ path('freelancers') }}"><span class="icon-holder"><i
                                class="c-deep-purple-500 ti-ruler-pencil"></i> </span><span
                            class="title">Freelancers</span></a></li>
            <li class="nav-item"><a class="sidebar-link" href="{{ path('tasks') }}"><span class="icon-holder"><i
                                class="c-indigo-500 ti-clipboard"></i> </span><span class="title">Prestaties</span></a>
            <li class="nav-item"><a class="sidebar-link" href="{{ path('periods') }}"><span class="icon-holder"><i
                                class="c-deep-orange-500 ti-calendar"></i> </span><span
                            class="title">Perioden</span></a></li>

            </li>
        </ul>
    </div>
</div>